<div id="myachievements" class="myachievements">
    <!-- <div class="ma-container" data-dojo-type="comlib/ui/IScrollView" data-dojo-attach-point="scrollView">
        <div class="ma-headNav">My Profile <span class="icon-chevron-right"></span> <span class="ma-headText">My Achievements</span></div>
        <div class="ma-bodyCon" :class="bodyConHorizontal">
            <div class="ma-filterCon">
                <filter-util @changebodydisplay="changeBodyDisplay" @resizeView="resizeview"></filter-util>
            </div>
            <div class="ma-cardCon">
                <div class="ma-myBadgeCon">
                    <my-badge></my-badge>
                </div>
                <div class="ma-myCertificatesCon">
                    <my-certificate></my-certificate>
                </div>
            </div>
        </div>
    </div> -->
    <div class="ma-headNav">My Profile <span class="icon-chevron-right"></span> <span class="ma-headText">My Achievements</span></div>
        <div class="ma-bodyCon" :class="bodyConHorizontal">
            <div class="ma-filterCon">
                <filter-util @changeBodyDisplay="changeBodyDisplay" @resizeView="resizeView"></filter-util>
            </div>
            <div class="ma-cardCon">
                <div class="ma-myBadgeCon">
                    <my-badge></my-badge>
                </div>
                <div class="ma-myCertificatesCon">
                    <my-certificate></my-certificate>
                </div>
            </div>
        </div>
</div>