<div class="SalesPlayDialog">
    <div class="smart-spTooltipCon">
        <div class="smart-spTooltipHead">
            <div class="smart-spTtooltipTitle"><span data-dojo-attach-point="spNum">0</span> Reasons for call</div>
            <div class="icon-delete" data-dojo-attach-event="click:destroyMe"></div>
        </div>
        <div class="smart-spColumnHead smart-spColumnItem">
            <div>Sales play</div>
            <div>Confidence</div>
            <div>Add opportunity</div>
        </div>
        <div class="smart-spColumnBody">
            <div data-dojo-type="comlib/ui/IScrollView" data-dojo-attach-point="scrollView">
                <div data-dojo-attach-point="bodyContent"></div>
            </div>
        </div>
        <div class="smart-spTooltip-button" data-dojo-attach-event="click:destroyMe">Close</div>
    </div>
</div>
