.HeadColumn{
    display: flex;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
    padding: 0 10px;
}
.HeadColumn.columnCenter{
    justify-content: center;
}
.HeadColumn.columnLeft{
    justify-content: flex-start;
}
.HeadColumn.active{
    background: rgba(0, 0, 0, 0.1);
}
.HeadColumn > .smart-selectAllBtn input{
    cursor: pointer;
}
.HeadColumn > span{
    cursor: default;
    text-align: center;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.HeadColumn.sortable,
.HeadColumn.sortable > span
{
    cursor: pointer;
}
.HeadColumn.sortable:hover{
    background: rgba(0, 0, 0, 0.1);
}
.HeadColumn.sortable.desc:after{
    content: "";
    font-size: 30px;
    position: absolute;
    right: 0px;
    top: 7px;
    visibility: hidden;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    font-family: isa;
}
.HeadColumn.sortable.desc.showIcon:after{
    visibility: visible;
}
.HeadColumn.sortable.asc:after{
    content: "";
    font-size: 30px;
    position: absolute;
    right: 0px;
    top: 7px;
    visibility: hidden;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    font-family: isa;
}
.HeadColumn.sortable.asc.showIcon:after{
    visibility: visible;
}
