<div class="TaskConfirmDialog">
    <div class="tcd-container">
        <div class="tcd-head">Confirm</div>
        <div class="tcd-bodyForm">
            <div class="tcd-formTop">
                <div class="tcd-titleCon">SalesConnect task(s) will be created for the following <span data-dojo-attach-point="clientNum">0</span> client(s):</div>
                <div class="tcd-clientNames">
                    <div data-dojo-type="comlib/ui/IScrollView" data-dojo-attach-point="scrollView"></div>
                </div>
            </div>
            <div class="tcd-formBottom">
                <div  class="tcd-cancelBtn" data-dojo-attach-point="cancelBtn" data-dojo-attach-event="click:destroyMe">Cancel</div>
                <div  class="tcd-saveBtn" data-dojo-attach-point="saveBtn" data-dojo-attach-event="click:createScTask">Submit</div>
           </div>
        </div>
    </div>
</div>
