.smart-pagingUtilCon{
    position: absolute;
    right: 0;
    bottom: -35px;
    height: 35px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.smart-pagingUtilCon .paging-label{
    min-width: 64px;
    text-align: center;
}
.smart-pagingUtilCon .prevBtn{
    width: 28px;
    height: 28px;
    line-height: 28px;
    font-size: 28px;
    transform: rotate(90deg);
    color: #00b0da;
    cursor: pointer;
}
.smart-pagingUtilCon .prevBtn.pu-prevBtnDisabled{
    color: #B3B3B3;
    cursor: default;
}
.smart-pagingUtilCon .nextBtn{
    width: 28px;
    height: 28px;
    line-height: 28px;
    font-size: 28px;
    transform: rotate(270deg);
    color: #00b0da;
    cursor: pointer;
}
.smart-pagingUtilCon .nextBtn.pu-nextBtnDisabled{
    color: #B3B3B3;
    cursor: default;
}
