.smartClientList{
    margin-right: 10px;
    border-bottom: 1px solid #e5e5e5;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.smartClientList:hover{
    background-color: #e5e5e5;
}
.smartClientList > div.smartList-text{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 12px 10px;
}
.smartClientList > div.smartList-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 10px;
}
.smartClientList .smartList-optionBtn{
    /* width: 8%; */
    flex: 0.5;
}
.smartClientList .smartList-optionBtn input[type="checkbox"]{
    cursor: pointer;
}
.smartClientList .smartList-optionBtn.smartList-disabled input[type="checkbox"]{
    cursor: default;
}
.smartClientList .smartList-rank{
    /* width: 8%; */
    flex: 1;
    text-align: center;
}
.smartClientList .smartList-score{
    /* width: 8%; */
    flex: 1;
    text-align: center;
}
.smartClientList .smartList-reasons{
    /* width: 14%; */
    flex: 1;
    text-align: center;
}
.smartClientList .smartList-reasons.smartList-clickable{
    color: #00B0DA;
    cursor: pointer;
}
.smartClientList .smartList-client{
    /* width: 23%; */
    flex: 2;
    color: #00B0DA;
    cursor: pointer;
}
.smartClientList .smartList-segment{
    flex: 1;
    text-align: left;
}
.smartClientList .smartList-industry{
    /* width: 23%; */
    flex: 2;
}
.smartClientList .smartList-buUpsell{
    /* width: 23%; */
    flex: 1;
    text-align: left;
}
.smartClientList .smartList-ibmClient{
    /* width: 23%; */
    flex: 1;
    text-align: left;
}
.smartClientList .smartList-channel{
    /* width: 23%; */
    flex: 1;
    text-align: left;
}
.smartClientList .smartList-upsellCycle{
    /* width: 23%; */
    flex: 1.5;
    text-align: left;
}
.smartClientList .smartList-contacts{
    /* width: 8%; */
    /* flex: 1; */
}
.smartClientList .smartList-contacts .smart-contact{
    width: 30px;
    height: 30px;
    background-image: url(../images/blue_contacts_graphic.svg);
    background-size: 40px;
    background-position: -7px -4px;
    cursor: pointer;
}
.smartClientList .smartList-scTask{
    /* width: 8%; */
    flex: 1;
}
.smartClientList .smartList-scTask .smart-scTask-btn{
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 25px;
    cursor: pointer;
    color: #00B0DA;
}
.smartClientList .smartList-scTask .icon-icon-task-in-progress{
    width: 25px;
    height: 25px;
    background-size: 24px 24px;
    background-image: url(../images/icon-task-in-progress.svg);
    background-repeat: no-repeat;
}



