<div class="smartClientContainer">
    <div class="smart-filterCon">
        <div class="smart-filterTitle">Filter clients</div>
        <div class="smart-filterItemCon" data-dojo-attach-point="filterItemCon">
            <div data-dojo-type="comlib/ui/IScrollView" data-dojo-attach-point="filterScrollView"></div>
        </div>
    </div>
    <div class="smart-container" data-dojo-attach-point="container">
        <div class="smart-cHead">
            <div class="smart-chead-left">
                <div class="smart-cHeadTitle"><span data-dojo-attach-point="clientNum">0</span> clients</div>
                <div class="smart-serachCon" data-dojo-attach-point="serachCon">
                    <input class="smart-searchBtn" data-dojo-attach-point="searchBtn" placeholder="Search by client name or ID"/>
                    <div class="smart-searchIcon icon-search-button" data-dojo-attach-point="search_btn"></div>
                    <div class="smart-inputTip icon-delete smart-hidden" data-dojo-attach-point="input_tip"></div>
                    <div class="smart-filterDetail" data-dojo-attach-point="filterDetail"></div>
                </div>
            </div>
            <div class="smart-createTaskBtn smart-hidden" data-dojo-attach-point="createTaskBtn" data-dojo-attach-event="click:createTask">Create task</div>
        </div>
        <div class="smart-tableContainer">
            <div class="smart-tableHead" data-dojo-attach-point="tableHead">
                <div class="smart-columnCon"  data-dojo-attach-point="columnCon"></div>
                <!-- <div class="smart-customizeCon"  data-dojo-attach-point="customizeCon"></div> -->
            </div>
            <div class="smart-tableBody" data-dojo-attach-point="tableBody">
                <div data-dojo-type="comlib/ui/IScrollView" data-dojo-attach-point="scrollView"></div>
            </div>
            <div class="status-container" data-dojo-attach-point="loaderContainer">
                <div class="loaderBtn"></div>
            </div>
            <div class="status-container smart-hidden" data-dojo-attach-point="errorContainer">
                <div class="errorBtn" data-dojo-attach-point="errorBtn"></div>
                <div>An error has occurred, please check your network and try again.</div>
            </div>
        </div>
    </div>
</div>
