<div class="FilterUtil">
    <div class="smart-filterItem bodyHide" data-filter-type="location">
        <div class="smart-filterItemHead">
            <div class="smart-filterItemName">Location</div>
            <div class="icon-expand-graphic"></div>
        </div>
        <div class="smart-filterItemBody">
            <input class="smart-filter-input" data-source="city" placeholder="Enter city" data-dojo-attach-point="cityInput">
        </div>
        <div class="smart-filterItemBody">
            <input class="smart-filter-input" data-source="region" placeholder="State or province" data-dojo-attach-point="stateInput">
        </div>
        <div class="smart-filterItemBody">
            <input class="smart-filter-input" data-source="country" placeholder="Country" data-dojo-attach-point="countryInput">
        </div>
        <div class="smart-filterItemBtn" data-dojo-attach-point="locationDone">DONE</div>
    </div>
    <div class="smart-filterItem bodyHide" data-filter-type="salesPlays">
        <div class="smart-filterItemHead">
            <div class="smart-filterItemName">Sales plays</div>
            <div class="icon-expand-graphic"></div>
        </div>
        <div class="smart-filterItemBody">
            <input class="smart-filter-input" data-source="salesPlays" placeholder="Enter an sales play" data-dojo-attach-point="spInput">
        </div>
        <div class="smart-filterItemBtn" data-dojo-attach-point="spDone">DONE</div>
    </div>
    <div class="smart-filterItem bodyHide" data-filter-type="industry">
        <div class="smart-filterItemHead">
            <div class="smart-filterItemName">Industry</div>
            <div class="icon-expand-graphic"></div>
        </div>
        <div class="smart-filterItemBody">
            <input class="smart-filter-input" data-source="industry" placeholder="Enter an industry" data-dojo-attach-point="industryInput">
        </div>
        <div class="smart-filterItemBtn" data-dojo-attach-point="industryDone">DONE</div>
    </div>
</div>
