<div class="FilterUtil">
    <div class="smart-filterItem bodyHide" data-filter-type="location">
        <div class="smart-filterItemHead">
            <div class="smart-filterItemName">Location</div>
            <div class="icon-expand-graphic"></div>
        </div>
        <div class="smart-filterItemBody">
            <input class="smart-filter-input" placeholder="Enter city" data-dojo-attach-point="cityInput">
            <input class="smart-filter-input" placeholder="State or province" data-dojo-attach-point="stateInput">
            <input class="smart-filter-input" placeholder="Country" data-dojo-attach-point="countryInput">
        </div>
        <div class="smart-filterItemBtn">DONE</div>
    </div>
    <div class="smart-filterItem bodyHide" data-filter-type="salesPlay">
        <div class="smart-filterItemHead">
            <div class="smart-filterItemName">Sales plays</div>
            <div class="icon-expand-graphic"></div>
        </div>
        <div class="smart-filterItemBody">
            <input class="smart-filter-input" placeholder="Enter an sales play" data-dojo-attach-point="spInput">
        </div>
        <div class="smart-filterItemBtn">DONE</div>
    </div>
    <div class="smart-filterItem bodyHide" data-filter-type="industry">
        <div class="smart-filterItemHead">
            <div class="smart-filterItemName">Industry</div>
            <div class="icon-expand-graphic"></div>
        </div>
        <div class="smart-filterItemBody">
            <input class="smart-filter-input" placeholder="Enter an industry" data-dojo-attach-point="industryInput">
        </div>
        <div class="smart-filterItemBtn">DONE</div>
    </div>
    <div class="smart-completeTaskCon">
        <div class="smart-completeTaskBtn" data-dojo-type="dijit/form/CheckBox" data-dojo-attach-point="checkboxBtn"></div>
        <div>show completed tasks</div>
    </div>
</div>
