<div class="FilterUtil">
    <div class="smart-filterItem bodyHide" data-filter-type="location">
        <div class="smart-filterItemHead">
            <div class="smart-filterItemName">Location</div>
            <div class="icon-expand-graphic"></div>
        </div>
        <div class="smart-filterItemBody">
            <input class="smart-filter-input" data-source="city" placeholder="Enter City" data-dojo-attach-point="cityInput">
        </div>
        <div class="smart-filterItemBody">
            <input class="smart-filter-input" data-source="market" placeholder="Enter Market" data-dojo-attach-point="stateInput">
        </div>
        <div class="smart-filterItemBody">
            <input class="smart-filter-input" data-source="country" placeholder="Enter Country" data-dojo-attach-point="countryInput">
        </div>
        <div class="smart-filterItemBtn smart-btnDisable" data-filter-type="location" data-dojo-attach-point="locationDone">Done</div>
    </div>
    <div class="smart-filterItem bodyHide" data-filter-type="salesPlays">
        <div class="smart-filterItemHead">
            <div class="smart-filterItemName">Sales plays</div>
            <div class="icon-expand-graphic"></div>
        </div>
        <div class="smart-filterItemBody">
            <input class="smart-filter-input" data-source="salesPlays" placeholder="Enter a sales play" data-dojo-attach-point="spInput">
        </div>
        <div class="smart-filterItemBtn smart-btnDisable" data-filter-type="salesPlays" data-dojo-attach-point="spDone">Done</div>
    </div>
    <div class="smart-filterItem bodyHide" data-filter-type="industry">
        <div class="smart-filterItemHead">
            <div class="smart-filterItemName">Industry</div>
            <div class="icon-expand-graphic"></div>
        </div>
        <div class="smart-filterItemBody">
            <input class="smart-filter-input" data-source="industry" placeholder="Enter an Industry" data-dojo-attach-point="industryInput">
        </div>
        <div class="smart-filterItemBtn smart-btnDisable" data-filter-type="industry" data-dojo-attach-point="industryDone">Done</div>
    </div>
    
    <div class="smart-filterItem bodyHide" data-filter-type="segment">
        <div class="smart-filterItemHead">
            <div class="smart-filterItemName">segment</div>
            <div class="icon-expand-graphic"></div>
        </div>
        <div class="smart-filterItemBody">
            <input class="smart-filter-input" data-source="segment" placeholder="Enter a Segment" data-dojo-attach-point="segmentInput">
        </div>
        <div class="smart-filterItemBtn smart-btnDisable" data-filter-type="segment" data-dojo-attach-point="segmentDone">Done</div>
    </div>
    <div class="smart-filterItem bodyHide" data-filter-type="buUpsell">
        <div class="smart-filterItemHead">
            <div class="smart-filterItemName">BU Upsell</div>
            <div class="icon-expand-graphic"></div>
        </div>
        <div class="smart-filterItemBody">
            <input class="smart-filter-input" data-source="buUpsell" placeholder="Enter a BU Upsell" data-dojo-attach-point="buUpsellInput">
        </div>
        <div class="smart-filterItemBtn smart-btnDisable" data-filter-type="buUpsell" data-dojo-attach-point="buUpsellDone">Done</div>
    </div>
    <div class="smart-filterItem bodyHide" data-filter-type="ibmClient">
        <div class="smart-filterItemHead">
            <div class="smart-filterItemName">IBM Client</div>
            <div class="icon-expand-graphic"></div>
        </div>
        <div class="smart-filterItemBody">
            <input class="smart-filter-input" data-source="ibmClient" placeholder="Enter an IBM Client" data-dojo-attach-point="ibmClientInput">
        </div>
        <div class="smart-filterItemBtn smart-btnDisable" data-filter-type="ibmClient" data-dojo-attach-point="ibmClientDone">Done</div>
    </div>
    <div class="smart-filterItem bodyHide" data-filter-type="channel">
        <div class="smart-filterItemHead">
            <div class="smart-filterItemName">Channel</div>
            <div class="icon-expand-graphic"></div>
        </div>
        <div class="smart-filterItemBody">
            <input class="smart-filter-input" data-source="channel" placeholder="Enter a Channel" data-dojo-attach-point="channelInput">
        </div>
        <div class="smart-filterItemBtn smart-btnDisable" data-filter-type="channel" data-dojo-attach-point="channelDone">Done</div>
    </div>
    <div class="smart-filterItem bodyHide" data-filter-type="upsellCycle">
        <div class="smart-filterItemHead">
            <div class="smart-filterItemName">Upsell Cycle</div>
            <div class="icon-expand-graphic"></div>
        </div>
        <div class="smart-filterItemBody">
            <input class="smart-filter-input" data-source="upsellCycle" placeholder="Enter an Upsell Cycle" data-dojo-attach-point="upsellCycleInput">
        </div>
        <div class="smart-filterItemBtn smart-btnDisable" data-filter-type="upsellCycle" data-dojo-attach-point="upsellCycleDone">Done</div>
    </div>
</div>
