<div class="smartClientList">
    <div class="smartList-optionBtn btn" data-dojo-attach-point="optionBtn">
        <div data-dojo-type="dijit/form/CheckBox" data-dojo-attach-point="optBtn" data-dojo-attach-event="click:sendTaskRequest"></div>
    </div>
    <div class="smartList-rank text" data-dojo-attach-point="rank"></div>
    <div class="smartList-score text" data-dojo-attach-point="score"></div>
    <div class="smartList-reasons text" data-dojo-attach-point="reasons"></div>
    <div class="smartList-client text" data-dojo-attach-point="client" data-dojo-attach-event="click:goToClient360"></div>
    <div class="smartList-industry text" data-dojo-attach-point="industry"></div>
    <div class="smartList-contacts btn" data-dojo-attach-point="contacts">
        <div class="smart-contact" data-dojo-attach-point="contactBtn" data-dojo-attach-event="click:loadContactModule"></div>
    </div>
    <div class="smartList-scTtask btn" data-dojo-attach-point="scTask">
        <div class="icon-task-selected smart-hidden" data-dojo-attach-point="scTaskBtn" data-dojo-attach-event="click:showTask"></div>
    </div>
</div>
