<div class="MsgTooltip">
    <div class="smart-tooltipCon">
        <div class="smart-tooltipHead">
            <div class="smart-tooltipTitle" data-dojo-attach-point="tooltipTitle"></div>
            <div class="icon-delete" data-dojo-attach-event="click:destroyMe"></div>
        </div>
        <div class="smart-tooltipBody">
            <div data-dojo-type="comlib/ui/IScrollView" data-dojo-attach-point="scrollView">
                <div data-dojo-attach-point="bodyContent"></div>
            </div>
        </div>
        <div class="smart-tooltip-button" data-dojo-attach-event="click:destroyMe">OK</div>
    </div>
</div>
