<div class="FilterUtil">
    <div class="smart-filterItem bodyHide" data-filter-type="location">
        <div class="smart-filterItemHead">
            <div class="smart-filterItemName">Location</div>
            <div class="icon-expand-graphic"></div>
        </div>
        <div class="smart-filterItemBody">
            <input class="smart-filter-input" data-source="city" placeholder="Enter City" data-dojo-attach-point="cityInput">
        </div>
        <div class="smart-filterItemBody">
            <input class="smart-filter-input" data-source="market" placeholder="Enter Market" data-dojo-attach-point="stateInput">
        </div>
        <div class="smart-filterItemBody">
            <input class="smart-filter-input" data-source="country" placeholder="Enter Country" data-dojo-attach-point="countryInput">
        </div>
        <div class="smart-filterItemBtn smart-btnDisable" data-filter-type="location" data-dojo-attach-point="locationDone">Done</div>
    </div>
    <div class="smart-filterItem bodyHide" data-filter-type="salesPlays">
        <div class="smart-filterItemHead">
            <div class="smart-filterItemName">Sales plays</div>
            <div class="icon-expand-graphic"></div>
        </div>
        <div class="smart-filterItemBody">
            <input class="smart-filter-input" data-source="salesPlays" placeholder="Enter a sales play" data-dojo-attach-point="spInput">
        </div>
        <div class="smart-filterItemBtn smart-btnDisable" data-filter-type="salesPlays" data-dojo-attach-point="spDone">Done</div>
    </div>
    <div class="smart-filterItem bodyHide" data-filter-type="industry">
        <div class="smart-filterItemHead">
            <div class="smart-filterItemName">Industry</div>
            <div class="icon-expand-graphic"></div>
        </div>
        <div class="smart-filterItemBody">
            <input class="smart-filter-input" data-source="industry" placeholder="Enter an Industry" data-dojo-attach-point="industryInput">
        </div>
        <div class="smart-filterItemBtn smart-btnDisable" data-filter-type="industry" data-dojo-attach-point="industryDone">Done</div>
    </div>
</div>
